.track {
    overflow: hidden;
    display: grid;
    grid-template-columns: 80px 1fr auto;
    gap: 5px;
    height: 80px;
    margin-bottom: 15px;
    align-items: center;
    transition: background-color 0.3s ease;
}

.track:hover {
    background-color: #f9f9f9;
}

.track_image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.track_info {
    flex: 1;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.track_name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.album_name {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

.artist_name {
    font-size: 0.9rem;
    color: #777;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}
